<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    <!--The assembly that has all business classes--><!--This value will be used to stop the recursive method that generate data to the level needed--><!--DataGenerationMethod--><!--<add key="DataGenerationMethod" value="DataAnnotations"/>--><!--<add key="DataGenerationMethod" value="DataType"/>--><!--<add key="Class_Property_Values" value="Customer|Name-Seif|Lara|Rania|Radwan|Haitham"/>--><add key="EntitiesAssembly" value="Domain.dll" /><add key="MaximumObjectGraphLevel" value="100000000" /><add key="DataGenerationMethod" value="Range" /><add key="Class_Property_Values" value="Name-Seif|Lara|Rania|Radwan|Haitham$ Email-M.Radwan@gmail.com|Rania@hotmail.com|Lara@live.com=" /><add key="Type" value="Int32-0123456789|5$ String-ABCDEFGHIJKLMNOPQRSTUVWXYZ|8" /></appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
