@model IdentitySample.Models.CreateUserViewModel

@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>

@Html.Partial("UserForm");


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
