<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="C:\\inetpub\\wwwroot\\DOT_Logs\\\NLogErrors\\log.txt">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
    <!--Write logs to File  where we want to write error logs-->
    <target name="file" xsi:type="File" fileName="C:\\inetpub\\wwwroot\\DOT_Logs\\DRCErrorLogFile.txt" layout="      
            --------------------- ${level}(${longdate})${machinename}-${windows-identity}-------------------- ${newline}      
            ${newline}      
            Exception Type:${exception:format=Type}${newline}      
            Exception Message:${exception:format=Message}${newline}      
            Stack Trace:${exception:format=Stack Trace}${newline}      
            Additional Info:${message}${newline}      
            ">
    </target>
    
    <target name="mail"
              xsi:type="Mail"
              smtpServer="skyland-.startlogic.com"
              smtpPort="587"
              smtpUserName="support@skyland-technologies.com"
              smtpPassword="pa33word"
              subject="${machinename} - My subject string (${shortdate:format=dd. MM. yyyy})"
              from="support@skyland-technologies.com"
              to="charles.moore.ctr@dot.gov"
              layout="${longdate}   LEVEL=${uppercase:${level}},   LOCATION=${callsite:className=true:includeSourcePath=true:methodName=true},               
                  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />
    

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*"  writeTo="file" />
    <logger name="*"  writeTo="mail" />
  </rules>
</nlog>
