
@{
    ViewBag.Title = "SummaryReport";
}

<h2>Summary Report</h2>
<hr />
<br />
<div class="container col-md-12">
<div class="row">
    <div class="col-lg-11 col-md-11">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <i class="fa fa-table"></i> Number of Reasonable Accomodation Requesters
                </div>
                <div class="panel-title pull-right"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cost"><i class="fa fa-file-excel-o"></i> Export section</button></div>
                <div class="clearfix"></div>
</div>
           <div style="overflow-x:auto">
               @Html.Action("ServiceReport", "DRC")
           </div>
               
           
            <div class="panel-footer">

            </div>
        </div>
    </div>



</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <i class="fa fa-table"></i> Number of Reasonable Accomodation Requesters
                </div>
                <div class="panel-title pull-right"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cost"><i class="fa fa-file-excel-o"></i> Export section</button></div>
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            
                <div class="table-responsive">
                    <table class="table table-hover taper">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
           
            <!-- /.panel-body -->
        </div>
        </div>
    </div>

</div>